<div class="row">
  <div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>

      <div class="my-2 left">
        <button
          [routerLink]="['/clientes/form']"
          class="btn rounded-1 btn-primary">Crear cliente</button>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>F Crecion</th>
          <th>F Actualizacion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.auditoria?.createdAt }}</td>
          <td>{{ cliente.auditoria?.updatedAt }}</td>
          <td>
            <button class="btn btn-sm btn-info"
                    [routerLink]="['/clientes/form', cliente.id]"
            >Editar</button>
            <button class="btn btn-sm btn-danger"
              (click)="delete(cliente)"
            >ELiminar</button>
          </td>
        </tr>
        </tbody>
      </table>

      <app-paginator
        *ngIf="!(pagination | objectEmpty)"
        [pagination]="pagination"></app-paginator>

    </div>
  </div>

</div>
