<div class="row">
  <div class="col-12">
    <div class="card bg-dark text-white">
      <div class="card-header">{{ titulo }}</div>
      <div class="card-body">

        <form #clienteForm="ngForm">

          <div *ngIf="errores !== ''">
            <div class="alert alert-danger" role="alert">
              {{ errores }}
            </div>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
              <input id="nombre"
                     type="text"
                     class="form-control"
                     #nombre="ngModel"
                     required
                     minlength="3"
                     maxlength="50"
                     [(ngModel)]="cliente.nombre"
                     name="nombre">
              <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                <div class="alert alert-danger">
                  <p *ngIf="nombre.hasError('required')">Nombre requerido</p>
                  <p *ngIf="nombre.hasError('minlength')">Nombre minimo de 3</p>
                  <p *ngIf="nombre.hasError('maxlength')">Nombre maximo de 50</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
              <input id="apellido" type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Email</label>
            <div class="col-sm-6">
              <input id="email" type="text" class="form-control" [(ngModel)]="cliente.email" name="email">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <button class="btn btn-primary"
                      role="button"
                      (click)='create()'
                      [disabled]="clienteForm.invalid"
                      *ngIf="!cliente.id else elseBlock">
                Crear
              </button>

              <ng-template #elseBlock>
                <button class="btn btn-primary"
                        role="button"
                        [disabled]="clienteForm.invalid"
                        (click)='update()'>Editar</button>
              </ng-template>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

